section{
    background-color: rgb(220, 221, 255);
    margin: 0% 19%;
    padding: 40px;
    border: 12px ridge rebeccapurple;
    font-family: Arial, Helvetica, sans-serif;
    
}

h2,hr,h3{
    text-align: center;
    color: blueviolet;
    background-color: rgb(159, 138, 255);
    font-family: "Times New Roman", Times, serif;
}
p{
    text-align: justify;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
iframe{
    margin: 0px 70px;
    
}
h1{
    color: darkslateblue;
    font-size: 45px;
    text-align: center;
    border: 10px solid rgb(43, 43, 43);
    margin-top: 0px 30px;
    padding: 50px;
    font-family: "Times New Roman", Times, serif;
    text-transform: uppercase;
}