
.nav-enlace{
    display: list-item;
    background-color: rgb(1, 1, 49);
    color: #ffff;
    padding: 10px 30px;
    text-decoration: none;
    margin: 2px;
}
.nav-enlace:hover{
    background: #25007a;
}
.nav-enlace1{
    display: list-item;
    background-color:rgb(1, 1, 49);
    color: #ffff;
    padding: 10px 30px;
    text-decoration: none;
    margin: 2px;
    text-align: center;
}
.nav-enlace1:hover{
    background: #48456d;
}
.nav-enlace2{
    display: list-item;
    background-color:rgb(1, 1, 49);
    color: #ffff;
    padding: 10px 30px;
    text-decoration: none;
    margin: 2px;
    text-align: center;
}
.nav-enlace2:hover{
    background: #00014d;
}
nav{
    background: #000000;
    padding: 5px;
    display:flex;
    justify-content: center;
}
.buttonGames{
    display: list-item;
    background: #363062;
    color: #ffff;
    padding: 10px 0px;
    border: 4px solid #ffff;
}
.buttonMenu{
    background: #363062;
    color: #ffff;
    padding: 10px 0px;
    border: 4px solid rgb(1, 1, 49);
    display: flex;
    justify-content: center;
    margin: 5px;
}
.nacer{
    display: none;
}
.nacer1{
    display:none;
}
.nacer2{
    display: none;
}
@media (max-width:600px)
{
    nav{
        flex-direction: column;
    }
    .nav-enlace{
        margin: 10px 0px;
    }
    .buttonMenu{
        display: inline-block;
    }
    .buttonGames{
        display: list-item;
    }
    .nacer{
        display: none;
    }
    .nacer1{
        display: none;
    }
    .nacer2{
        display:none;
    }
}